@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

i i{
	font-style: normal;
}

.pica{
	font-size: 1.3em;
}

.long-primer{
	font-size: 1.1em;
}

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.advertisement-header,
.inscription{
	text-align: center;
}

b{
	font-weight: normal;
}

b,
.signature,
.virtue{
	font-variant: small-caps;
}

.dateline,
h2 + p[epub|type~="se:letter.dateline"]{
	text-align: right;
	font-style: italic;
}

h2 + p[epub|type~="se:letter.dateline"] b{
	font-style: normal;
}

h2 + p[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
	margin-top: 1em;
}

table{
	margin: 1em auto;
}

table td{
	padding: .5em;
}

abbr.era{
	font-variant: all-small-caps;
}

.temperance-form{
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

.temperance-form thead td{
	text-align: center;
	font-variant: small-caps;
}

.temperance-form thead td,
.temperance-form tbody td{
	border-width: 1px;
	border-style: solid;
}

.temperance-form td{
	text-align: center;
	vertical-align: center;
}

.note{
	margin: 1em;
	text-align: center;
	text-indent: 0;
	font-style: italic;
}

table + p,
ol + p,
.virtues p,
.note + p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.scheme-of-employment{
	width: 100%;
	max-width: 50em;
	margin: .5em auto; /* plus .5em from cell padding = 1em */
}

.scheme-of-employment td{
	vertical-align: middle;
}

.scheme-of-employment td:only-child,
.scheme-of-employment td[rowspan] + td{
	text-align: center;
}

.scheme-of-employment td p{
	height: 100%;
	overflow: auto;
	text-indent: 0;
}

.scheme-of-employment .header{
	text-align: center;
}

.scheme-of-employment .section td{
	border-top: 1px solid black;
}

blockquote header{
	text-align: center;
	margin: 1em auto;
	font-style: italic;
}
