@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* pica */
#note-55 span:first-of-type{
	font-size: 1.3em;
}

/* long primer */
#note-55 span:last-of-type{
	font-size: 1.1em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.advertisement-header,
#chapter-1 blockquote:last-of-type{
	text-align: center;
}

[epub|type~="z3998:signature"],
#chapter-9 ol li p:first-child{
	font-variant: small-caps;
}

header p.advertisement-header + p,
p[epub|type~="se:letter.dateline"]{
	text-align: right;
	font-style: italic;
}

p[epub|type~="se:letter.dateline"] b{
	font-style: normal;
}

p[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
	margin-top: 1em;
}

table{
	margin: 1em auto;
}

table td{
	padding: .5em;
}

abbr.era{
	font-variant: all-small-caps;
}

#chapter-9 table:first-of-type{
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

#chapter-9 table:first-of-type thead td{
	text-align: center;
	font-variant: small-caps;
}

#chapter-9 table:first-of-type thead td,
#chapter-9 table:first-of-type tbody td{
	border-width: 1px;
	border-style: solid;
}

#chapter-9 table:first-of-type td{
	text-align: center;
	vertical-align: center;
}

#chapter-9 table:first-of-type p{
	text-indent: 0;
}

.note{
	margin: 1em;
	text-align: center;
	text-indent: 0;
	font-style: italic;
}

#chapter-9 ol p,
.note + p{
	text-indent: 0;
}

#chapter-9 table:last-of-type{
	width: 100%;
	max-width: 50em;
	margin: .5em auto; /* plus .5em from cell padding = 1em */
}

#chapter-9 table:last-of-type td{
	vertical-align: middle;
}

#chapter-9 table:last-of-type td:only-child,
#chapter-9 table:last-of-type td[rowspan] + td{
	text-align: center;
}

#chapter-9 table:last-of-type td p{
	text-indent: 0;
}

#chapter-9 table:last-of-type .header{
	text-align: center;
}

#chapter-9 table:last-of-type .section td{
	border-top-width: 1px;
	border-top-style: solid;
}

blockquote header{
	margin: 1em auto;
	font-style: italic;
}
