@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

i i{
	font-style: normal;
}

.pica{
	font-size: 1.3em;
}

.long-primer{
	font-size: 1.1em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}
}
/* End full-page epigraphs */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

footer{
	text-align: right;
	margin-top: 1em;
}

.advertisement-header,
.inscription{
	text-align: center;
}

.signature,
.virtue{
	font-variant: small-caps;
}

.dateline,
p[epub|type~="se:letter.dateline"]{
	text-align: right;
	font-style: italic;
}

p[epub|type~="se:letter.dateline"] b{
	font-style: normal;
}

p[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
	margin-top: 1em;
}

table{
	margin: 1em auto;
}

table td{
	padding: .5em;
}

abbr.era{
	font-variant: all-small-caps;
}

.temperance-form{
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
}

.temperance-form thead td{
	text-align: center;
	font-variant: small-caps;
}

.temperance-form thead td,
.temperance-form tbody td{
	border-width: 1px;
	border-style: solid;
}

.temperance-form td{
	text-align: center;
	vertical-align: center;
}

.temperance-form p{
	text-indent: 0;
}

.note{
	margin: 1em;
	text-align: center;
	text-indent: 0;
	font-style: italic;
}

.virtues p,
.note + p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

.scheme-of-employment{
	width: 100%;
	max-width: 50em;
	margin: .5em auto; /* plus .5em from cell padding = 1em */
}

.scheme-of-employment td{
	vertical-align: middle;
}

.scheme-of-employment td:only-child,
.scheme-of-employment td[rowspan] + td{
	text-align: center;
}

.scheme-of-employment td p{
	height: 100%;
	overflow: auto;
	text-indent: 0;
}

.scheme-of-employment .header{
	text-align: center;
}

.scheme-of-employment .section td{
	border-top-width: 1px;
	border-top-style: solid;
}

blockquote header{
	margin: 1em auto;
	font-style: italic;
}
